---
// Импортируем фронтматтер и содержимое всех Markdown файлов
import ArticleCard from "./ArticleCard.astro";

const articles = await Astro.glob("../pages/articles/*.md");

function getRandomRgbColor() {
  const red = Math.floor(180 + Math.random() * 255);
  const green = Math.floor(180 + Math.random() * 255);
  const blue = Math.floor(180 + Math.random() * 255);

  return `rgb(${red},${green},${blue})`;
}

const articleColors = articles.map(() => getRandomRgbColor());
---

<div class="flex flex-col items-center justify-between w-11/12">
  <div class="article-card-list w-11/12 h-3/4">
    {
      articles.map((article, index) => (
        <div class="px-4 py-2">
          <ArticleCard
            title={article.frontmatter.title}
            excerpt={article.frontmatter.excerpt}
            slug={article.file.slice(0, -3)}
            cardColor={articleColors[index]}
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .article-card-list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .article-card-list::-webkit-scrollbar {
    height: 8px;
  }
  .article-card-list::-webkit-scrollbar-track {
    background: transparent;
  }
  .article-card-list::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    border-radius: 15px;
  }
  .article-card-list::-webkit-scrollbar-thumb:hover {
    background: #85d6fc;
  }
</style>
